
  <div class="box">
    <div class="top">
      <span class="link">Home/Search</span>
      <span>Home/Search</span>
    </div>
    <div class="search-bar">
      <div class="row m-0">
        <div class="col-md-9 p-0">
          <input type="text" placeholder="Search For Products" class="w-100" [(ngModel)]="keyword">
        </div>

        <div class="col-md-3 p-0">
          <button class="w-100" (click)="search()">Search</button>
        </div>
      </div>
    </div>
    <div class="search-history">
      <div class="title d-flex justify-content-between">
        <span>

          Search History
        </span>
        <span>
          clear
        </span>
      </div>
      <div class="search-list" >
        <span class="item">
          sadasd
        </span>
        <span class="item">
          sadasd
        </span>
        <span class="item">
          sadasd
        </span>
        <span class="item">
          sadasd
        </span>
      </div>
    </div>
  </div>
