<!-- <div *ngFor="let item of this.c.sliders">
  <img src="{{url+ item.slider_image }}" alt="">
</div> -->
<div class="carousel-container" >
  <ngb-carousel class="carousel-custom">
    <ng-template ngbSlide *ngFor="let item of this.homeService.sliders">
      <div class="picsum-img-wrapper">
        <!-- <img [src]="image" alt="Random slide"> -->
        <img src="{{url+ item.slider_image }}" class="w-100" alt="">
      </div>

    </ng-template>
  </ngb-carousel>
</div>
<div class="featured">
  <app-items [items]="this.homeService.featuredProducts"></app-items>
</div>
<div class="ads">
  <div class="row">
    <div class="col-md-6">
      <img src="https://i.pinimg.com/originals/0b/a3/d6/0ba3d60362c7e6d256cfc1f37156bad9.jpg" alt="" class="w-100">
    </div>
    <div class="col-md-6">
      <img src="https://i.pinimg.com/originals/0b/a3/d6/0ba3d60362c7e6d256cfc1f37156bad9.jpg" alt="" class="w-100">
    </div>
  </div>
</div>
<div class="top">
  <div class="title">
    Top Products
  </div>
  <app-items [items]="this.homeService.topProducts"></app-items>

</div>


