<div class="cart-items">
    <div class="row m-0" >
        <div class="col-12 p-0">
            <app-mobcartitem *ngFor="let item of cart.items" [item]="item" (changed)="changed($event)" (deleted)="delete($event)"></app-mobcartitem>
        </div>
    </div>
</div>
<div class="checkout">
    <div class="d-flex justify-content-between total">
        <span>
            Total 
        </span>
        <span>
            Rs {{cart.total}}
        </span>
    </div>
    <button>
        Checkout
    </button>
</div>
